html, body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
div {
    padding: 10px;
}
.red {
    background-color: red;
    width: 500px;
    height: 500px;
}
.green {
    background-color: #25d600;
}
.yellow {
    background-color: yellow;

}
.blue {
    background-color: blue;
}
.dflex {
    display: flex;
}
.dflx_colum {
    flex-direction: column;
}
.wh {
    height: 50%;
    flex-basis: 50%;
}
.size_50px {
    width: 50px;
    height: 50px;
}
.w50 {
    width: 50%;
}
.mrg {
    margin: 10px;
}
.justifcont_spacebetween {
    justify-content: space-between;
}
.justifcont_selfend {
    justify-content: flex-end;
}
.align_self_end {
    align-self: flex-end;
}
section {
    margin-left: 10px;
}